<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
</head>
<body>
<script th:src="@{/js/web/reserva/frmreserva.js}" type="text/javascript"></script>
<nav th:insert="layout::menu"></nav>
<button type="button" id="btnagregar" class="btn btn-primary">
    Agregar Reserva</button>
<hr />
<table class="table" id="tblreserva">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Usuario</th>
        <th scope="col">Mesa</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reserva :${listareservas}">
        <td th:text="${reserva.id_reserva}"></td>
        <td th:text="${reserva.idusuario.id_usuario}"></td>
        <td th:text="${reserva.idmesa.id_mesa}"></td>
        <td th:text="${reserva.fechareserva}"></td>
        <td th:text="${reserva.estadoreserva}"></td>
        <td>
            <button type="button" class="btn btn-success btnactualizar"
                    th:data-idreserva="${reserva.id_reserva}"
                    th:data-idusuario="${reserva.idusuario.id_usuario}"
                    th:data-idmesa="${reserva.idmesa.id_mesa}"
                    th:data-fechareserva="${reserva.fechareserva}"
                    th:data-estadoreserva="${reserva.estadoreserva}">
                <i class="fas fa-pen"></i>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger btneliminarreserva"
                    th:data-idreserva="${reserva.id_reserva}" >
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal Registro / actualizacion Reserva -->
<div class="modal fade" id="modalReserva" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Mantenimiento de Reserva</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="cbousuario" class="form-label">
                        Usuario</label>
                    <select class="form-control"
                            id="cbousuario"></select>
                </div>
                <div class="mb-3">
                    <label for="cbomesa" class="form-label">
                        Mesa</label>
                    <select class="form-control"
                            id="cbomesa"></select>
                </div>
                <div class="mb-3">
                    <label for="txtfecha" class="form-label">
                        Fecha</label>
                    <input type="date" class="form-control"
                           id="txtfecha" >
                </div>
                <div class="mb-3">
                    <label for="txtestado" class="form-label">
                        Estado</label>
                    <input type="date" class="form-control"
                           id="txtestado" >
                </div>
                <input type="hidden" id="hddidregistroreserva">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"
                        id="btnguardar">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Eliminar Reserva -->
<div class="modal fade" id="modalEliminarReserva" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" >
                    Eliminar Reserva</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="mensajeeliminar"></label>
                <input type="hidden" id="hddideliminarreserva"
                       value="0">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary"
                        id="btneliminar">Eliminar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
