<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
    <meta charset="UTF-8">
    <title>INICIO</title>
</head>
<body>
    <nav th:insert="layout::nav"></nav>
    <form th:action="@{/procesarCompra}" method="post">
    <div>
        <h3>Carrito:</h3>
        <div th:each="pizza : ${pizzasEscogidas}">
            <img th:src="@{'imgs/' + ${pizza.id_pizza} + '.jpg'}" alt="Imagen" height="100"/>
            <span th:text="${pizza.nombre}"></span>
        </div>
    </div>
    <div>
        <input type="submit">
    </div>
    </form>
    <span th:text="${mensajeCompra}"></span>

</body>
</html>
