<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::head">
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<nav th:insert="layout::nav"></nav>
	<!--CL2
	<div class="text-center">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Código pedido</th>
					<th scope="col">Código usuario</th>
					<th scope="col">Fecha pedido</th>
					<th scope="col">Estado pedido</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pedido :${listaPedido}">
					<td th:text="${pedido.id_pedido}"></td>
					<td th:text="${pedido.usuario.nombre_usuario}"></td>
					<td th:text="${pedido.fecha_pedido}"></td>
					<td th:text="${pedido.estado_pedido}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-primary">
			<a th:href="@{/frmRegPedido}" style="color: white;">Registrar</a>
		</button>
	</div>
	-->
	<div>
		<h3>Pizzas para escoger:</h3>
		<div th:each="pizza : ${listaPizza}">
			<img th:src="@{'imgs/' + ${pizza.id_pizza} + '.jpg'}" alt="Imagen" height="100"/>
			<span th:text="${pizza.nombre}"></span>

			<form th:action="@{/frmPizzaEscogida}" method="post">
				<input type="hidden" th:value="${pizza.id_pizza}" name="id_pizza" />
				<button type="submit">Escoger</button>
			</form>

		</div>
	</div>
</body>
</html>