@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
.layer{
    font-family: 'Oldenburg', cursive;
}
.main-fondo{
    background-image: url("../img/fondo-iconos.png");
}
.titulo h2 {
    font-size: 60px;
    font-weight: bolder;
}
.inicio-elegir{
    color:  white;
    background-image: url("../img/fondo-madera.png");
}

.inicio-footer{
    background-image:url("../img/fondo-iconos.png") ;
    background-color:rgb(22,19,19);
}


